.main-container {
  border: solid 3px bisque;
  height: 100%;
  width: 100vh;
  background-color: gray;
  text-align: center;
  padding: 100px;
  margin: 30px;
}

.header-container {
  border: solid 3px bisque;
  width: 100%;
  background-color: gray;
}

.footer-container {
  border: solid 3px bisque;
  width: 100%;
  background-color: gray;
}
